[submodule "RobustToolbox"]
    path = RobustToolbox
    url = https://github.com/space-wizards/RobustToolbox.git
    branch = master
[submodule "Secrets"]
    path = Secrets
    url = git@gitlab.com:Morbo/corvax-secrets.git
    branch = master
    update = none
[submodule "space-station-14"]
	path = space-station-14
	url = https://github.com/SerbiaStrong-220/space-station-14.git
